<table>
  <tr>
    <th>Team</th>
    <th>Season</th>
    <th>Competition</th>
    <th>Wins</th>
    <th>Ties</th>
    <th>Losses</th>
    <th>GF</th>
    <th>GA</th>
  </tr>

  {% for standing in standings %}
  <tr>
    <td>{{ standing.name }}</td>
    <td>{{ standing.season }}</td>
    <td>{{ standing.competition }}</td>
    <td>{{ standing.wins }}</td>
    <td>{{ standing.ties }}</td>
    <td>{{ standing.losses }}</td>
    <td>{{ standing.goals_for }}</td>
    <td>{{ standing.goals_against }}</td>
  </tr>
  {% endfor %}

</table>


